* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
}
.section-center {
  width: 95vw;
  max-width: 1050px;
  margin: 0 auto;
}
.header {
  background: #ffffff;
  padding: 1rem;
  height: 80px;
}
.navbar {
  display: flex;
  align-items: center;
}
.nav-links {
  display: none;
}
.nav-link li a,
.side-link li a {
  color: #333333;
  padding: 10px 20px;
  border-radius: 10px;
}
.nav-link li a:hover,
.side-link li a:hover {
  background: #f800009c;
  color: #ffffff;
}
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.show-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(0%);
  background: #ffffff;
  width: 30%;
  height: 50%;
  transition: all 1s linear;
}
.side-link {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  padding: 0.4rem;
  margin-top: 3rem;
  margin-left: 0.3rem;
}
.side-link ul li a {
  color: #333333;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.btn {
  font-size: 1.5rem;
  padding: 10px 8px;
  background: none;
  border: none;
}
/* end of navbar */
/* hero */
.hero {
  display: grid;
  height: calc(100vh - 80px);
  place-items: center;
  background-image: url("./images/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}
/* end of hero */
/* about */
.title {
  padding: 2rem;
  background-color: #f2f3f5;
  color: #1f8c5a;
  text-align: center;
}
.about-center {
  display: grid;
  gap: 1rem;
}
.about-photo {
  width: 100%;
}
.highlight {
  font-size: 2rem;
  color: #918989;
  font-weight: bold;
}
.about-info {
  color: #333333;
}
/* end of about */
/* industries */
.paras {
  margin: 2rem 0;
  color: #333333;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.card-photo {
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.5s linear;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-photo:hover {
  top: -10px;
  left: 5px;
}
.card {
  position: relative;
}
.tag {
  position: absolute;
  bottom: 6px;
  left: 0;
  background-color: #1f8c5a;
  color: white;
  padding: 0.5rem;
}
.industry-center {
  display: grid;
  gap: 1rem;
}
/* end of industries */
/* contact */
.contact {
  height: 90vh;
  background-color: #f2f3f5;
}
/* end of contact */
/* footer */
.footer {
  position: relative;
}
.footer-center {
  display: grid;
  justify-items: center;
}
.foot-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.foot-logo span {
  color: #1f8c5a;
  font-size: 1rem;
  font-weight: bolder;
  white-space: nowrap;
}
.foot-info {
  margin: 2rem 0;
}
.links {
  display: flex;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
.foot-links ul,
.social-links ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.foot-links ul li a,
.social-links ul li a {
  color: #404040;
}
.social-links ul li a {
  font-weight: bold;
}
.fixed-text {
  position: absolute;
  right: 20px;
  bottom: 0;
  color: #c1c1c1;
}
.icon {
  position: fixed;
  bottom: 40px;
  right: 20px;
  font-size: 2.5rem;
}
/* end of footer */
@media screen and (min-width: 850px) {
  .section-center {
    width: 90vw;
  }
  .nav-links {
    display: block;
  }
  .nav-link {
    display: flex;
    gap: 2rem;
  }
  .btn {
    display: none;
  }
  .header {
    margin-left: 2rem;
  }
  .nav-header {
    width: 400px;
  }
  .about-center {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
  }
  .industry-center {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
  }
  .card5 {
    grid-column: 2/-1;
  }
  .footer-center {
    grid-template-columns: 1fr 1fr;
  }
  .footer {
    padding: 3rem;
  }
  .foot-logo span {
    font-weight: bolder;
    font-size: 2.5rem;
  }
}
